:root {
  --first-color: #ffffff;
  --second-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --bgc: #c4c4c4;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --filter-btn-bgc: #f5f4fa;
  --header-border-color: #ececec;
  --item-block-border: #eeeeee;
  --footer-bgc: #2f303a;
  --social-color: #afb1b8;
  --footer-social-bgc: rgba(255, 255, 255, 0.1);
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}
