.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-list {
  display: none;
  @include tablet {
    display: flex;
  }
  gap: 50px;
  & .current {
    color: var(--second-color);
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--second-color);
      bottom: -1px;
      border-radius: 2px;
    }
  }
}

.header-list-auth {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  margin-left: auto;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  @include desktop {
    font-size: 26px;
  }
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  @include desktop {
    font-size: 26px;
  }
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--duration) var(--function);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.header-tel {
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--duration) var(--function);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.header-mail {
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--duration) var(--function);
  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.header-mail-icon,
.header-tel-icon {
  fill: currentColor;
}

.header-mail-icon {
  @include tablet {
    width: 14px;
    height: 10px;
  }
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.header-tel-icon {
  @include tablet {
    width: 10px;
    height: 14px;
  }
  @include desktop {
    width: 10px;
    height: 16px;
  }
}

.smartphone:hover,
.smartphone:focus {
  fill: var(--second-color);
}

.menu-open-btn {
  @include tablet {
    display: none;
  }
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: transparent;
  cursor: pointer;
  margin-left: auto;
}

.menu-modal {
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  > .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding-left: 40px;
    padding-right: 15px;
  }
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  display: block;
}

.menu-modal-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: #212121;
}
.modal-tel {
  font-weight: 500;
  font-size: 34px;
  @media screen and (min-width: 320px) {
    font-size: 30px;
  }
  @media screen and (min-width: 394px) {
    font-size: 34px;
  }
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.modal-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-modal-item:not(:last-child) {
  margin-bottom: 55px;
}

.modal-auth-tel {
  margin-bottom: 32px;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-social-list {
  display: flex;
  margin-top: 64px;
}

.menu-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  @media screen and (min-width: 320px) {
    font-size: 12px;
  }
  @media screen and (min-width: 420px) {
    font-size: 18px;
  }
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding: 0 10px;
}

.first-link {
  padding-left: 0;
}

.menu-modal-list {
  & .current {
    color: var(--second-color);
  }
}
